@inject IJSRuntime JSRuntime

<style>
    .table-sticky {
        position: sticky;
    }

    .score-cell {
        width: 40px;
        height: 30px;
        border: none;
    }

    .player-cell {
        width: 75px;
        height: 30px;
        border: none;
    }

    .subtext {
        font-size: small;
    }
</style>

<button class="btn btn-danger" @onclick="ClearAsync">Clear</button>

<table class="table">
    <thead>
        <tr>
            <th class="table-sticky">Rounds</th>
            @for (int round = 1; round <= Rounds; round++)
            {
                <th>@round</th>
            }
        </tr>
    </thead>
    <tbody>

        @for (int p = 0; p < _players.Count; p++)
        {
            var p1 = p;

            <tr>
                <td>
                    <div>
                        <input @bind="@_players[p1].Name"
                               @bind:event="oninput"
                               @onchange="OnChangedAsync"
                               class="player-cell" />
                    </div>
                    <div class="subtext">
                        Total: @_players[p].Scores.Sum()
                    </div>
                </td>

                @for (int s = 0; s < _players[p].Scores.Count; s++)
                {
                    var s1 = s;

                    <td>
                        <input @bind="@_players[p1].Scores[s1]"
                               @bind:event="oninput"
                               @onchange="OnChangedAsync"
                               class="score-cell" />
                    </td>
                }
            </tr>
        }

    </tbody>
</table>

<button class="btn btn-primary" @onclick="AddPlayerAsync">Add Player</button>